body{
    background-color: #000000;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #000000;
  }

  .centralizar {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } 
 
  #lamp{
    width: 400px;
    border: 3px solid #18ac69;
    border-radius: 10px;

  }
  .botoes{
    padding: 10px;
  
  }
  .button{
    margin-left: 40px;
   
  }
  .on{
    background-color: #18ac69;
    width: 100px;
    padding: 10px;
    border: #18ac69;
    border-radius: 10px;
  }
  .on:hover{
    background-color: #0f4017;
  }
  .off{
    background-color: red;
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    padding: 10px;
    border: #18ac69;
    border-radius: 10px;
  }
  .off:hover{
    background-color: #770e0a;
  }

  .piscar{
    background-color: #ffe72d;
    padding: 10px;
    width: 100px;
    padding: 10px;
    border: #18ac69;
    border-radius: 10px;
  }
  .piscar:hover{
    background-color: #88910d;
  }
  